.about-section {
  background-color: #fff;
  width: 100%;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #0070f3;
  box-shadow: 0 10px 25px rgba(0, 112, 243, 0.2);
}

.about-text {
  flex: 1;
  
}

.about-text h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.about-text p {
  margin-bottom: 1.5rem;
  color: #666;
}

.about-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.hightlight {
  font-weight: bold;
  color: #0070f3; /* Choose a color to make it stand out */
  background-color: rgba(0, 112, 243, 0.1); /* Optional: Add a subtle background */
  padding: 0.2rem 0.4rem; /* Optional: Add some padding */
  border-radius: 4px; /* Optional: Add rounded corners */
}

@media (max-width: 992px) {
  .about-content {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .about-buttons {
    justify-content: center;
  }
}